<div class="container">
  <div class="row center-align amber lighten-3 z-depth-3" style="margin:3em; padding: 2em; border-radius: 1em;">
    <h1 class="header center deep-orange-text">¡Bienvenido a la Biblioteca Escolar!</h1>
    <i class="large material-icons deep-orange-text">school</i>
    <div class="row center">
      <h5 class="header col s12 light grey-text text-darken-3">
        biblioteca escolar.
      </h5>
    </div>
    <div class="row center">
      <a href="/library/addBook" id="explore-button"
        class="btn-large waves-effect waves-light deep-orange">Explora la Biblioteca</a>
    </div>
  </div>
</div>
